@import '../../../styles/variables.scss';
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
  background-color: $skill-mobile-bcg;
  .container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 70vw;
    height: 300px;
    margin-top: 5px;
    .container__content__title {
      color: white;
      text-transform: uppercase;
      font-size: 1.5rem;
      letter-spacing: 2px;
      width: 100%;
      font-weight: 100;
      text-align: center;
    }
    .container__content__desc {
      color: white;
      padding: 5px 10px;
    }
  }
  .container__btn {
    width: 90%;
    padding: 5px 0;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
