@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/animations.scss';

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 1.5rem;
  background-color: $skill-mobile-bcg;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  width: 40%;
  .container__content {
    @include container__content;
    .container__content__title {
      @include container__content__title;
    }
    .container__content__desc {
      @include container__content__desc;
    }
  }
  .container__btn {
    @include container__btn;
  }
}
