@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.container_1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  background-color: $skill-mobile-bcg;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  width: 60%;
  .container__content {
    @include container__content;
    .container__content__title {
      @include container__content__title;
    }
    .container__content__desc {
      @include container__content__desc;
    }
  }
  .container__btn {
    @include container__btn;
  }
}
.container_2 {
  left: 27%;
  opacity: 1;
  width: 55%;
  z-index: 1;
  opacity: 0.7;
  .container__content {
    @include container__content;
    .container__content__title {
      @include container__content__title;
    }
    .container__content__desc {
      @include container__content__desc;
    }
  }
  .container__btn {
    @include container__btn;
  }
}
