@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/animations.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  color: $light;
  h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    border: 1px solid $light;
    padding: 5px 10px;
    border-radius: 4px;
  }
  .skill-0 {
    margin-top: 0px;
    margin-left: 5px;
  }
  .skill-1 {
    margin-top: 0px;
    margin-left: 75px;
  }
  .skill-2 {
    margin-top: 0px;
    margin-left: 140px;
  }
  .skill-3 {
    margin-top: 0px;
    margin-left: 270px;
  }
  .skill-4 {
    margin-top: 40px;
    margin-left: 5px;
  }
  .skill-5 {
    margin-top: 40px;
    margin-left: 130px;
  }
  .skill-6 {
    margin-top: 40px;
    margin-left: 250px;
  }
  .skill-7 {
    margin-top: 80px;
    margin-left: 5px;
  }
  .skill-8 {
    margin-top: 80px;
    margin-left: 75px;
  }
}
