@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/animations.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  h4 {
    font-family: 'Montserrat', sans-serif;
    color: $skills;
    // color: $high-light;
    font-weight: 400;
    border: $section-border;
    // border: 1px solid $high-light;
    padding: 5px 10px;
    border-radius: 4px;
  }
  .skill-0--showSkill {
    transition: all 0.5s ease-in-out;
    opacity: 1;
    margin-top: 0px;
    margin-left: 5px;
  }
  .skill-0--closeSkill {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    margin-top: 0px;
    margin-left: 5px;
  }
  .skill-1--showSkill {
    transition: all 0.6s ease-in-out;
    margin-top: 0px;
    margin-left: 75px;
    opacity: 1;
  }
  .skill-1--closeSkill {
    transition: all 0.4s ease-in-out;
    margin-top: 0px;
    margin-left: 5px;
    opacity: 0;
  }
  .skill-2--showSkill {
    transition: all 0.7s ease-in-out;
    margin-top: 0px;
    margin-left: 130px;
    opacity: 1;
  }
  .skill-2--closeSkill {
    transition: all 0.4s ease-in-out;
    margin-top: 0px;
    margin-left: 5px;
    opacity: 5;
  }
  .skill-3--showSkill {
    transition: all 0.8s ease-in-out;
    margin-top: 0px;
    margin-left: 238px;
    opacity: 1;
  }
  .skill-3--closeSkill {
    transition: all 0.4s ease-in-out;
    margin-top: 0px;
    margin-left: 5px;
    opacity: 0;
  }
  .skill-4--showSkill {
    transition: all 0.9s ease-in-out;
    margin-top: 0px;
    margin-left: 310px;
    opacity: 1;
    @media screen and (max-width: 860px) {
      margin-top: 80px;
      margin-left: 5px;
    }
  }
  .skill-4--closeSkill {
    transition: all 0.3s ease-in-out;
    margin-top: 0px;
    margin-left: 5px;
    opacity: 0;
  }

  .skill-5--showSkill {
    transition: all 0.9s ease-in-out;
    margin-top: 40px;
    margin-left: 5px;
    opacity: 1;
  }
  .skill-5--closeSkill {
    transition: all 0.3s ease-in-out;
    margin-top: 0px;
    margin-left: 5px;
    opacity: 0;
  }
  .skill-6--showSkill {
    transition: all 1s ease-in-out;
    margin-top: 40px;
    margin-left: 115px;
    opacity: 1;
  }
  .skill-6--closeSkill {
    transition: all 0.3s ease-in-out;
    margin-top: 0px;
    margin-left: 5px;
    opacity: 0;
  }
  .skill-7--showSkill {
    transition: all 1.1s ease-in-out;
    margin-top: 40px;
    margin-left: 200px;
    opacity: 1;
  }
  .skill-7--closeSkill {
    transition: all 0.3s ease-in-out;
    margin-top: 0px;
    margin-left: 5px;
    opacity: 0;
  }

  .skill-8--showSkill {
    transition: all 1.2s ease-in-out;
    margin-top: 40px;
    margin-left: 258px;
    opacity: 1;
  }
  .skill-8--closeSkill {
    transition: all 0.2s ease-in-out;
    margin-top: 0px;
    margin-left: 5px;
    opacity: 0;
  }
  .skill-9--showSkill {
    transition: all 1.3s ease-in-out;
    margin-top: 40px;
    margin-left: 322px;
    opacity: 1;
    @media screen and (max-width: 860px) {
      margin-top: 80px;
      margin-left: 113px;
    }
  }
  .skill-9--closeSkill {
    transition: all 0.1s ease-in-out;
    margin-top: 0px;
    margin-left: 5px;
    opacity: 0;
  }
}
