@import '../styles/variables.scss';
@import '../styles/transition.scss';
@import '../styles/mixins.scss';
@import '../styles/animations.scss';

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90.5vh;
  background-size: cover;
  background-position: center;
  @media screen and (max-width: 767px) {
    height: 88vh;
  }
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
  z-index: 10000;

  .aboutH3 {
    flex: 1;
    color: $headings;
    font-size: 2.5rem;
    margin-bottom: -20px;
  }
  .aboutP {
    text-transform: uppercase;
    color: $headings;
    padding: 10px 20px;
    font-weight: 200;
    font-size: 1.25rem;
    border-radius: 4px;
    width: 70%;
    @media screen and (width: 360px) and (height: 800px) {
      margin-top: 20px;
    }
  }
}
.footer {
  position: absolute;
  top: 400%;
  width: 100%;
  color: white;
}
