@import '../styles/mixins.scss';
@import '../styles/variables.scss';
@import '../styles/animations.scss';
:export {
  transition: $transition;
}
.layout {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  .header {
    background-size: cover;
    background-position: center;
  }
}
