@import '../styles/mixins.scss';
@import '../styles/variables.scss';
@import '../styles/animations.scss';
:export {
  transition: $transition;
}
.layout {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  .header {
    background-size: cover;
    background-position: center;
  }
  .footer {
    color: $light;
    position: absolute;
    top: calc(100% - 18.75px);
    left: calc(100% - 159.767px);
    padding-right: 10px;
    z-index: 20000;
    @media screen and (max-width: 767px) {
      top: 101.5%;
    }
    @media screen and (width: 360px) and (height: 760px) {
      top: 106%;
    }
  }
}
