@import '../styles/mixins.scss';
@import '../styles/variables.scss';
@import '../styles/animations.scss';
:export {
  transition: $transition;
}
.layout {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;

  .header {
    background-size: cover;
    background-position: center;
    background-color: $high-dark;
  }
  .section {
    height: 400px;
  }
  .footer {
    position: absolute;
    // color: $light;
    color: $headings;
    padding-right: 10px;
    z-index: 20000;
    @media screen and (max-width: 1920px) {
      left: 0;
      top: 98%;
    }
    @media screen and (max-width: 767px) {
      // color: $high-dark;
      color: $headings;
      left: 0;
      top: 98%;
    }
  }
}
