@import '../../../styles/transition.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
    &__imgContainer {
      position: relative;
      &:hover {
        .img {
          transform: translateY(15px) scale(1.3);
          z-index: 2;
        }

        & + .imgContainer .img,
        & ~ .imgContainer .img {
          transform: translateY(15px) scale(1.1);
          z-index: 1;
        }
      }
      .img {
        width: 100px;
        height: auto;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        transform-origin: center;
        @media screen and (max-width: 767px) {
          width: 80px;
        }
      }
    }
  }
  &__detail {
    display: flex;
    flex-direction: column;
  }
}
