@import '../../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media screen and (max-width: 767px) {
      margin-top: 2rem;
    }
  }
  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 10px;
    border: 1px solid $headings;
    border-radius: 5px;
    width: 100%;
    margin-top: 10rem;
    @media screen and (max-width: 767px) {
      width: 90%;
      margin-top: 2rem;
      margin-left: 0;
    }
    h3 {
      margin: 0;
      font-size: 2.5rem;
      text-transform: uppercase;
      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
    p {
      margin: 0;
      padding: 0;
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: -2px;
      @media screen and (max-width: 768px) {
        font-size: 1.1rem;
      }
    }
  }
}
