@import '../../../styles/variables.scss';
@import '../../../styles/transition.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/animations.scss';

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 125px;
  gap: 5px 5px;
  background-color: rgba(lighten($color: #4c5651, $amount: 60%), 0.8);
  opacity: 1;
  transition: opacity 1 ease-in-out;
  margin-bottom: 0;
  .heading {
    @include applyExpertiseItemFlex;
    margin-top: 1.5rem;
    margin-left: 5px;
    grid-column: 1/4;
    grid-row: 1;
    background-color: lighten($color: #4c5651, $amount: 20%);
    @media screen and (max-width: 767px) {
      background-color: rgba(lighten($color: #354d43, $amount: 20%), 0.8);
      margin-left: 5px;
      margin-right: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      grid-column: 1/7;
    }
    h3 {
      @include applySectionTitleStyles;
      // z-index: 100;
      @media screen and (max-width: 767px) {
        padding: 0;
        text-align: center;
        margin: 0;
        font-size: 1.5rem;
        font-weight: 100;
        background-color: transparent;
      }
    }
  }
}
