@import '../../../styles/variables.scss';
.container {
  height: 850px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      width: 100%;
    }
    &__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      width: 20%;
      @media screen and (max-width: 767px) {
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
      }
      &__projectContainer {
        width: 100%;
        position: relative;
        transition: transform 0.3s ease;
        &.hovered {
          transform: translateX(25px);
          z-index: 2;
          @media screen and (max-width: 767px) {
            transform: translateY(15px);
          }
        }
        &.adjacentHovered {
          transform: translateX(10px) scale(1.05);
          z-index: 1;
          @media screen and (max-width: 767px) {
            transform: translateY(20px) scale(1.1);
          }
        }
      }
    }
    &__detail {
      position: relative;
      display: flex;
      width: 70%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      transition: opacity 0.3s ease-in-out;
      opacity: 0;
      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
      &.entering {
        opacity: 0;
      }

      &.entered {
        opacity: 1;
        // transition: opacity 3s ease-in-out;
      }

      &.exiting {
        opacity: 0;
        // transition: opacity 3s ease-in-out;
      }

      &.exited {
        opacity: 0;
      }
    }
  }
}
