// HEADER ANIMATION
@keyframes slideFromLeft {
  from {
    visibility: hidden;
    transform: translateX(-100%);
  }
  to {
    visibility: visible;
    transform: translateX(0);
  }
}

@keyframes slideBackLeft {
  from {
    visibility: visible;
    transform: translateX(0);
  }
  to {
    visibility: hidden;
    transform: translateX(-100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    background-color: $high-dark;
  }
  33% {
    background-color: $dark;
  }
  66% {
    background-color: transparent;
  }
}
@keyframes loadingMaxWidth767 {
  0% {
    background-color: $high-dark;
  }
  33% {
    background-color: $dark;
  }
  66% {
    background-color: transparent;
  }
}

// SLIDE IN PROJECT DETAIL
@keyframes ProjectDetailSlideIn {
  from {
    opacity: 0;
    transform: translateX(70%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes ProjectDetailSlideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(70%);
  }
}
@keyframes ProjectDetailSlideInMaxWidth1920 {
  from {
    opacity: 0;
    transform: translateX(-30%);
  }
  to {
    opacity: 1;
    transform: translateX(-158%);
  }
}
@keyframes ProjectDetailSlideOutMaxWidth1920 {
  from {
    opacity: 1;
    transform: translateX(-158%);
  }
  to {
    opacity: 0;
    transform: translateX(-30%);
  }
}

@keyframes titleSlideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-90%);
  }
}
@keyframes titleSlideIn {
  from {
    opacity: 0;
    transform: translateX(-90%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// Animation for SKILLS section
@keyframes openingSkills {
  0% {
    width: 100px;
    height: 10px;
    opacity: 0;
  }
  25% {
    width: 200px;
    height: 50px;
    opacity: 0.25;
  }
  50% {
    width: 300px;
    height: 80px;
    opacity: 0.5;
  }
  100% {
    width: 435px;
    height: 120px;
    opacity: 1;
  }
}
@keyframes closingSkills {
  0% {
    width: 345px;
    height: 120px;
    opacity: 1;
  }
  25% {
    width: 300px;
    height: 80px;
    opacity: 0.5;
  }
  50% {
    width: 200px;
    height: 50px;
    opacity: 0.25;
  }
  100% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
}

// skills animation for mobile screen
@keyframes openSkillsMobile {
  0% {
    width: 10%;
    height: 10px;
    opacity: 0;
  }
  25% {
    width: 200px;
    height: 50px;
    opacity: 0.25;
  }
  50% {
    width: 300px;
    height: 80px;
    opacity: 0.5;
  }
  100% {
    width: 95%;
    height: 150px;
    opacity: 1;
  }
}
@keyframes closeSkillsMobile {
  0% {
    width: 360px;
    height: 150px;
    opacity: 1;
  }
  25% {
    width: 300px;
    height: 80px;
    opacity: 0.5;
  }
  50% {
    width: 200px;
    height: 50px;
    opacity: 0.25;
  }
  100% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
}

// Animation for PROJECTS section
@keyframes openingProjects {
  0% {
    width: 10%;
    height: 10px;
    opacity: 0;
  }
  25% {
    width: 200px;
    height: 30px;
    opacity: 0.25;
  }
  50% {
    width: 300px;
    height: 60px;
    opacity: 0.5;
  }
  100% {
    width: 90%;
    height: 80px;
    opacity: 1;
  }
}
@keyframes closingProjects {
  0% {
    width: 345px;
    height: 80px;
    opacity: 1;
  }
  25% {
    width: 300px;
    height: 60px;
    opacity: 0.5;
  }
  50% {
    width: 200px;
    height: 30px;
    opacity: 0.25;
  }
  100% {
    width: 0px;
    height: 10px;
    opacity: 0;
  }
}

// PROJECTS MOBILE SCREENS

// PROJECTS MOBILE SCREENS__IPHONE PRO 12/13
@keyframes openProjectsMobile {
  0% {
    width: 10%;
    height: 10px;
    opacity: 0;
  }
  25% {
    width: 200px;
    height: 30px;
    opacity: 0.25;
  }
  50% {
    width: 300px;
    height: 60px;
    opacity: 0.5;
  }
  100% {
    width: 95%;
    height: 75px;
    opacity: 1;
  }
}
@keyframes closeProjectsMobile {
  0% {
    width: 95%;
    height: 80px;
    opacity: 1;
  }
  25% {
    width: 300px;
    height: 60px;
    opacity: 0.5;
  }
  50% {
    width: 200px;
    height: 30px;
    opacity: 0.25;
  }
  100% {
    width: 0%;
    height: 0px;
    opacity: 0;
  }
}

// PROJECTS animation for mobile screen Galaxy
@keyframes openProjectsMobileGlxS20 {
  0% {
    width: 50px;
    height: 10px;
    opacity: 0;
  }
  25% {
    width: 100px;
    height: 30px;
    opacity: 0.25;
  }
  50% {
    width: 150px;
    height: 60px;
    opacity: 0.5;
  }
  100% {
    width: 200px;
    height: 90px;
    opacity: 1;
  }
}

// GALAXY S20
@keyframes openProjectsMobileGlx {
  0% {
    width: 50px;
    height: 10px;
    opacity: 0;
  }
  25% {
    width: 100px;
    height: 30px;
    opacity: 0.25;
  }
  50% {
    width: 150px;
    height: 60px;
    opacity: 0.5;
  }
  100% {
    width: 340px;
    height: 75px;
    opacity: 1;
  }
}
@keyframes openProjectsMobile360 {
  0% {
    width: 100px;
    height: 10px;
    opacity: 0;
  }
  25% {
    width: 200px;
    height: 30px;
    opacity: 0.25;
  }
  50% {
    width: 300px;
    height: 60px;
    opacity: 0.5;
  }
  100% {
    width: 320px;
    height: 80px;
    opacity: 1;
  }
}

// Animation for TOGGLE ARROW IN H2
@keyframes showH2Span {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hideH2Span {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// Animation for PARAGRAPH

@keyframes showParagraph {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(-40%);
  }
}

@keyframes showParagraphMaxWidth767 {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(120%);
  }
}
@keyframes showParagraphMaxWidth570 {
  from {
    opacity: 0;
    transform: translateY(120%);
  }
  to {
    opacity: 1;
    transform: translateY(90%);
  }
}

@keyframes closeParagraph {
  from {
    opacity: 1;
    transform: translateY(90%);
  }
  to {
    opacity: 0;
    transform: translateY(120%);
  }
}

// ANIMATION TOGGLE TITLE ITEMS

@keyframes toggleTitleItemsDown {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes toggleTitleItemsUp {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(-20%);
  }
}

// SHOW MORE ANIMATION
@keyframes showMoreAnimation {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes closeMoreAnimation {
  from {
    opacity: 1;
    transform: translateY(10%);
  }
  to {
    opacity: 0;
    transform: translateY(50%);
  }
}

// SQUARE ANIMATION
@keyframes squareShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//BLACK TRIANGLES
@keyframes trianglesShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// SECTION TITLES ANIMATION
@keyframes sectionTitleShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
