@keyframes slideFromLeft {
  from {
    visibility: hidden;
    transform: translateX(-100%);
  }
  to {
    visibility: visible;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    background-color: white;
  }
  33% {
    background-color: lightgrey;
  }
  66% {
    background-color: transparent;
  }
}

@keyframes openingSkills {
  0% {
    width: 100px;
    height: 50px;
    opacity: 0;
  }
  25% {
    width: 200px;
    height: 100px;
    opacity: 0.25;
  }
  50% {
    width: 300px;
    height: 125px;
    opacity: 0.5;
  }
  100% {
    width: 345px;
    height: 150px;
    opacity: 1;
  }
}
@keyframes closingSkills {
  0% {
    width: 345px;
    height: 150px;
    opacity: 1;
  }
  25% {
    width: 300px;
    height: 125px;
    opacity: 0.5;
  }
  50% {
    width: 200px;
    height: 100px;
    opacity: 0.25;
  }
  100% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
}
