@keyframes slideFromLeft {
  from {
    visibility: hidden;
    transform: translateX(-100%);
  }
  to {
    visibility: visible;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    background-color: white;
  }
  33% {
    background-color: lightgrey;
  }
  66% {
    background-color: transparent;
  }
}
