@import './variables.scss';

@mixin Link {
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}

@mixin applySectionTitleStyles {
  color: map-get($sectionTitle, color);
  text-transform: map-get($sectionTitle, text-transform);
  font-weight: map-get($sectionTitle, font-weight);
  letter-spacing: map-get($sectionTitle, letter-spacing);
  padding: map-get($sectionTitle, padding);
  margin-left: map-get($sectionTitle, margin-left);
  background-color: map-get($sectionTitle, background-color);
}

@mixin applyExpertiseItemFlex {
  display: map-get($expertiseItemFlex, display);
  flex-direction: map-get($expertiseItemFlex, flex-direction);
  justify-content: map-get($expertiseItemFlex, justify-content);
  align-items: map-get($expertiseItemFlex, align-items);
}
@mixin singleSkillModal {
  grid-column: 3/5;
  grid-row: 4/10;
  margin-top: -15px;
  margin-bottom: 2.88rem;
  z-index: 5000;
}

@mixin mobileScreen {
  @media screen and (max-width: 767px) {
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(lighten($color: #4c5651, $amount: 15%), 0.8);
  }
}

@mixin skillHoverEffect {
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.01, 1.01);
  }
}

@mixin modal {
  @include applyExpertiseItemFlex;
  @include singleSkillModal;
  @include mobileScreen;
}

@mixin container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 85%;
  margin-top: 5px;
}
@mixin container__content__title {
  color: grey;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  width: 100%;
  font-weight: 100;
  text-align: center;
}
@mixin container__content__desc {
  color: grey;
  padding: 5px 10px;
}

@mixin container__btn {
  width: 90%;
  padding: 5px 0;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
