$transition: all 0.4s ease-in;
$light: #f7f1f8;
$dark: #000f08;
$skill-mobile-bcg: rgba(52, 59, 56, 0.8);
$sectionTitle: (
  color: #f7f1f8,
  text-transform: uppercase,
  font-weight: 100,
  letter-spacing: 3px,
  padding: 1.5rem 3.5rem 0.5rem 0.25rem,
  margin-left: 0.5rem,
  background-color:
    lighten(
      $color: #4c5651,
      $amount: 30%,
    ),
);
$expertiseItemFlex: (
  display: flex,
  flex-direction: column,
  justify-content: start,
  align-items: center,
);

$skillHoverEffect: (
  transition: transform 0.5s ease-in-out,
  hover: (
    transform: scale(1.1),
  ),
);
