$transition: all 0.4s ease-in;
$light: #fca311;
$main-color: #bdede0;
$dark: rgba(#000000, 0.8);
$high-dark: #fff;
$header-background: #fff;
$headings: #0c0f0a;
$arrow: #0c0f0a;
$skills: #0c0f0a;
$button-color: #0c0f0a;
$medium-dark: rgba(#000000, 0.7);
$high-light: lighten(#ffb703, 10%);
$light-green: #ffb703;
$dark-green: #ffb703;
$yellow: #ffec51;
$yellow-dark: #828350;
$skill-mobile-bcg: rgba(52, 59, 56);
$section-border: 1px solid #000;
$section-bcg: #b6c4a2;

$count: 50;
$snap-size: 48px;
$offset: 1;

$sectionTitle: (
  color: #f7f1f8,
  text-transform: uppercase,
  font-weight: 100,
  letter-spacing: 3px,
  padding: 1.5rem 3.5rem 0.5rem 0.25rem,
  margin-left: 0.5rem,
  background-color:
    lighten(
      $color: #4c5651,
      $amount: 30%,
    ),
);
$expertiseItemFlex: (
  display: flex,
  flex-direction: column,
  justify-content: start,
  align-items: center,
);

$skillHoverEffect: (
  transition: transform 0.5s ease-in-out,
  hover: (
    transform: scale(1.1),
  ),
);
