@import '../../styles/animations.scss';

.button {
  font-size: medium;
  background-color: transparent;
  border: 1px solid #f7f1f8;
  color: #f7f1f8;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 0;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: background-color, transform 0.5s ease;
  animation: fadeIn 2s linear 6s forwards;
  &:hover {
    background-color: #f7f1f8;
    color: #000f08;
  }
  &:active {
    transform: scaleX(0.99);
  }
}
