@import '../../styles/variables.scss';
.container {
  height: 200px;
  background-color: $headings;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  &__logo {
    display: flex;
    flex-direction: row;
    width: 50%;
    cursor: pointer;
    z-index: 10000;
    .logoLink {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      margin-left: 10px;
      text-decoration: none;
      transition: transform 0.3ss ease-in-out;
      text-shadow: 0px 0px 10px white;
      &.rotate {
        animation: rotate360 1s ease-in-out;
      }

      &__m,
      &__i,
      &__s,
      &__h {
        position: absolute;
        transform-origin: center center;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2rem;
      }
      &__m {
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
      }
      &__i {
        top: 50%;
        left: 100%;
        transform: translateY(-50%) translateX(-30%) rotate(90deg);
      }
      &__s {
        bottom: 0;
        left: 50%;
        transform: translateY(45%) translateX(-50%) rotate(180deg);
      }
      &__h {
        top: 50%;
        left: 0;
        transform: translateY(-50%) translateX(-70%) rotate(270deg);
      }
    }
  }
}
