@import '../../styles/variables.scss';
.container {
  background-color: $headings;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  @media screen and (max-width: 768px) {
    align-items: start;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 0px 10px;
    @media screen and (max-width: 768px) {
      width: 90%;
      align-items: center;
      justify-content: center;
      // height: 200px;
    }
    &__logo {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding-top: 10px;
      padding-left: 20px;
      cursor: pointer;
      z-index: 10000;
      .logoLink {
        position: relative;
        display: block;
        width: 50px;
        // height: 50px;
        text-decoration: none;
        transition: transform 0.3ss ease-in-out;
        text-shadow: 0px 0px 10px white;
        &.rotate {
          animation: rotate360 1s ease-in-out;
        }
        &__m,
        &__i,
        &__s,
        &__h {
          transform-origin: center center;
          color: #fff;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 2rem;
          letter-spacing: -4px;
        }
      }
    }
    &__links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      @media screen and (max-width: 768px) {
        justify-content: center;
      }
      &__question {
        flex: 0 0 50%;
        padding-left: 10px;
        @media screen and (max-width: 768px) {
          margin-top: -10px;
        }
        &__p {
          font-size: 1.25rem;
          letter-spacing: 2px;
        }
      }
      &__items {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        @media screen and (max-width: 768px) {
          font-size: 1.5rem;
          width: 40%;
          margin: 0 auto;
          margin-top: -15px;
        }
        &__a {
          transition: all 0.3s ease;
          text-decoration: none;
          margin: 0 20px;
          letter-spacing: 1px;
          color: white;
          @media screen and (max-width: 768px) {
            margin: 8px 10px 0px 10px;
          }
          &:hover {
            color: rgba(#fff, 0.4);
          }
        }
      }
    }
    &__copyright {
      display: block;
      width: 100%;
      padding-left: 20px;
      @media screen and (max-width: 768px) {
        // margin-top: 15px;
      }
    }
  }
}
