@import '../../styles/variables.scss';

.heading {
  color: $high-dark;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
  padding: 0px;
  .headingH3 {
    font-weight: 400;
  }
}
