@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/animations.scss';

:export {
  transition: $transition;
}
.header {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  .HBG {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    animation: fadeIn 1s ease-in-out forwards;
    .HBGLightGrey {
      position: absolute;
      display: block;
      -webkit-clip-path: polygon(
        100% 15%,
        67% 4%,
        43% 8%,
        22% 17%,
        0 39%,
        0 17%,
        0 0
      );
      clip-path: polygon(
        100% 0,
        100% 8%,
        67% 7%,
        43% 8%,
        22% 17%,
        0 25%,
        0 0,
        0 0
      );
      background-color: rgba(#f7f1f8, 0.8);
      overflow: visible;
      z-index: 1000;
      margin-top: 0px;
      width: 100%;
      height: 100%;
    }
    .HBGMediumGrey {
      flex: 1;
      position: absolute;
      display: block;
      -webkit-clip-path: polygon(
        100% 5%,
        67% 4%,
        43% 8%,
        22% 17%,
        0 39%,
        0 100%,
        100% 100%
      );
      clip-path: polygon(
        100% 15%,
        63% 11%,
        27% 10%,
        12% 10%,
        0 12%,
        0 100%,
        100% 100%
      );
      background-color: rgba(#000, 0.7);
      overflow: visible;
      opacity: 1;
      z-index: 2;
      width: 100%;
      height: 100%;
      transition: all 0.4s ease-in-out;
      @media screen and (max-width: 767px) {
        opacity: 1;
      }
    }
    .HBGDarkGrey {
      flex: 1;
      position: absolute;
      display: block;
      -webkit-clip-path: polygon(
        100% 0,
        67% 4%,
        43% 8%,
        22% 17%,
        0 39%,
        0 100%,
        100% 100%
      );
      clip-path: polygon(
        100% 5%,
        67% 7%,
        43% 8%,
        22% 14%,
        0 23%,
        0 100%,
        100% 100%
      );
      overflow: visible;
      z-index: 1;
      width: 100%;
      height: 100%;

      @media screen and (min-width: 767px) {
        background-color: rgba(#000, 0.8);
      }
    }
    transition: all 0.4s ease-in-out;
    .HBGYellow {
      @media screen and (max-width: 767px) {
        animation: yellowPart 2s forwards 0.7s;
      }
      flex: 1;
      position: absolute;
      opacity: 0;
      -webkit-clip-path: polygon(
        100% 0,
        67% 4%,
        43% 8%,
        22% 17%,
        0 39%,
        0 100%,
        100% 100%
      );
      clip-path: polygon(
        100% 20%,
        67% 10%,
        43% 8%,
        22% 20%,
        0% 25%,
        10% 70%,
        40% 70%,
        95% 80%
      );
      overflow: visible;
      z-index: 1000;
      width: 100%;
      height: 100%;
      background-color: #000;
      transition: all 0.4s ease-in-out;
      @media screen and (min-width: 767px) {
        opacity: 1;
        -webkit-clip-path: polygon(100% 20%, 0 25%, 0% 70%, 100% 80%);
        clip-path: polygon(100% 20%, 0 25%, 0% 70%, 100% 80%);
      }
    }
  }
  .container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2500;
    width: 95%;
    margin-top: 0;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }
    &__titleSection {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      margin-left: auto;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;

      @media screen and (max-width: 767px) {
        margin-left: 0;
        align-items: start;
        justify-content: start;
      }
      .titleSection__title {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        z-index: 1000;
        color: #f7f1f8;
        text-transform: uppercase;
        border-left: none;
        border-right: none;
        margin-right: auto;
        margin-top: 30px;
        transition: transform 0.3s ease-out;
        .headerH2 {
          letter-spacing: 5px;
          font-weight: 100;
          font-size: 3rem;
          margin: 0;
          margin-bottom: -10px;
          border-bottom: 1px solid rgba($light, 0.7);
          cursor: pointer;
          animation: fadeIn 1s ease-in-out forwards,
            slideFromLeft 1s ease-in-out;
          &__span {
            font-size: 1rem;
            opacity: 0;
            &.active {
              cursor: pointer;
              animation: showH2Span 1s ease-in-out forwards;
            }
            &.inactive {
              animation: hideH2Span 0.5s ease-in-out forwards;
            }
          }
        }
        .headerH3 {
          font-weight: 100;
          letter-spacing: 2px;
          padding-left: 5px;
          margin-left: 5px;
          width: 100%;
          opacity: 1;
          animation: fadeIn 1s ease-in-out forwards;
          transform: translateY(0);
          .headerH3Span {
            display: block;
            padding: 5px;
            padding-left: 0;

            @media screen and (max-width: 767px) {
              font-size: medium;
              padding: 2px;
            }
          }
          .headerH3Span:nth-child(1) {
            padding-top: 5px;
            animation: fadeIn 5s ease-in-out forwards, slideFromLeft 5s;
            .loadingContainer {
              display: inline-block;
              justify-content: center;
              align-items: center;
              .loadingSpan {
                display: inline-block;
                margin: 0 2px;
                width: 4px;
                height: 4px;
                border-radius: 5px;
              }
            }
            .loadingSpan:nth-child(1) {
              animation: loading 2s infinite;
            }
            .loadingSpan:nth-child(2) {
              animation: loading 2s infinite 0.5s;
            }
            .loadingSpan:nth-child(3) {
              animation: loading 2s infinite 1s;
            }
            .loadingTxt {
              display: inline-block;
              font-size: small;
            }
          }
          .headerH3Span:nth-child(2) {
            animation: fadeIn 4s ease-in-out forwards, slideFromLeft 4s;
          }
          .headerH3Span:nth-child(3) {
            animation: fadeIn 3s ease-in-out forwards, slideFromLeft 3s;
          }
          .headerH3Span:nth-child(4) {
            animation: fadeIn 2s ease-in-out forwards, slideFromLeft 2s;
          }
          .headerH3Span:nth-child(5) {
            animation: fadeIn 1s ease-in-out forwards, slideFromLeft 1s;
          }
          .headerH3Span__span {
            display: flex;
            margin-top: 5px;
            color: $light;
            height: 10px;
            transition: $transition;
            cursor: pointer;
            &.rotate {
              transform: rotateX(180deg);
            }
          }
          &.moveUp {
            animation: toggleTitleItemsUp 1s ease-in-out forwards;
          }
          &.moveDown {
            animation: toggleTitleItemsDown 1s ease-in-out forwards;
          }
        }
        &.active {
          @media screen and (max-width: 767px) {
            animation: titleSlideIn 1s ease-in-out forwards;
          }
        }
        &.inactive {
          @media screen and (max-width: 767px) {
            animation: titleSlideOut 1s ease-in-out forwards;
          }
        }
      }
      .titleSection__descContainer {
        position: absolute;
        display: block;
        border: 1px solid $light-green;
        border-radius: 4px;
        margin-top: -45%;
        margin-left: 1.25rem;
        margin-right: -10rem;
        width: 100%;

        &__p {
          color: $light-green;
          padding: 0 10px;
          @media screen and (max-width: 412px) {
            padding: 0 10px;
          }
        }
        &.active {
          border: 1px solid $light-green;
          border-radius: 4px;
          margin-top: 0;
          margin-left: 0;
          width: 95%;
          @media screen and (max-width: 1920px) {
            animation: ProjectDetailSlideInMaxWidth1920 1s ease-in-out forwards;
            margin-top: 20%;
          }
          @media screen and (max-width: 1200px) {
            animation: ProjectDetailSlideInMaxWidth1920 1s ease-in-out forwards;
            margin-top: 25%;
          }
          @media screen and (max-width: 990px) {
            animation: ProjectDetailSlideInMaxWidth1920 1s ease-in-out forwards;
            margin-top: 30%;
          }
          @media screen and (max-width: 767px) {
            animation: ProjectDetailSlideIn 1s ease-in-out forwards;
            margin-top: 5%;
          }
          @media screen and (max-width: 676px) {
            animation: ProjectDetailSlideIn 1s ease-in-out forwards;
            margin-top: 5%;
          }
          @media screen and (max-width: 560px) {
            animation: ProjectDetailSlideIn 1s ease-in-out forwards;
            margin-top: 5%;
          }
          @media screen and (max-width: 480px) {
            animation: ProjectDetailSlideIn 1s ease-in-out forwards;
            margin-top: 5%;
          }
          @media screen and (max-width: 430px) {
            animation: ProjectDetailSlideIn 1s ease-in-out forwards;
            margin-top: 5%;
          }
          @media screen and (max-width: 390px) {
            animation: ProjectDetailSlideIn 1s ease-in-out forwards;
            margin-top: 5%;
          }
        }
        &.inactive {
          @media screen and (max-width: 1920px) {
            animation: ProjectDetailSlideOutMaxWidth1920 1s ease-in-out forwards;
            margin-top: 110%;
          }
          @media screen and (max-width: 767px) {
            animation: ProjectDetailSlideOut 1s ease-in-out forwards;
            margin-top: -35%;
          }
        }
      }
      .titleSection__mobile__p {
        position: absolute;
        display: flex;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        color: $light;
        font-weight: 200;
        width: 85%;
        margin-left: 20px;
        border: 1px solid rgba($light-green, 0.7);
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        padding: 5px 10px;
        opacity: 0;
        transform: translateY(0);
        &.show__p {
          @media screen and (max-width: 767px) {
            animation: showParagraphMaxWidth767 0.5s forwards;
          }
        }
        &.close__p {
          @media screen and (max-width: 767px) {
            animation: closeParagraph 0.5s forwards;
          }
        }
      }
    }
    &__sections {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-right: auto;
      width: 100%;
      @media screen and (max-width: 767px) {
        margin-top: 20%;
        // margin-left: 5%;
      }
      .section__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        .section__skills {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          z-index: 5000;
          margin-left: 10px;
          width: 100%;
          margin-bottom: 10px;
          padding-bottom: -5px;
          cursor: pointer;
          .section__span {
            color: $light;
            height: 15px;
            padding-left: 2px;
            transition: $transition;
            &.rotate {
              transform: rotateX(180deg);
            }
          }
        }
        .section__skills__container {
          opacity: 0;
          height: 0;
          width: 0;
          &.showContainer {
            animation: openingSkills 0.4s forwards;
            border: none;
            border: 1px solid $light-green;
            border-radius: 5px;
            @media screen and (max-width: 860px) {
              animation: openSkillsMobile 0.4s forwards;
            }
          }
          &.closeContainer {
            animation: closingSkills 0.4s forwards;
          }
        }
      }
      .section__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        .section__projects {
          display: flex;
          flex-direction: row;
          align-items: center;
          z-index: 5000;
          margin-left: 10px;
          width: 100%;
          margin-bottom: 10px;
          cursor: pointer;
          .section__span {
            color: $light;
            height: 15px;
            padding-left: 2px;
            transition: $transition;
            &.rotate {
              transform: rotateX(180deg);
            }
          }
        }
        .section__projects__container {
          opacity: 0;
          height: 0;
          width: 0;
          &.showContainer {
            animation: openingProjects 0.4s forwards;
            border: 1px solid $light-green;
            border-radius: 5px;
            @media screen and (max-width: 860px) {
              animation: openProjectsMobile 0.4s forwards;
            }
            @media screen and (width: 412px) and (height: 915px) {
              animation: openProjectsMobileGlxS20 0.4s forwards;
              height: 80%;
            }
            @media screen and (width: 412px) {
              animation: openProjectsMobileGlx 0.4s forwards;
              height: 80%;
            }
            @media screen and (max-width: 375px) {
              animation: openProjectsMobileGlx 0.4s forwards;
              height: 80%;
            }
            @media screen and (max-width: 390px) {
              animation: openProjectsMobileGlx 0.4s forwards;
              height: 80%;
            }
            @media screen and (width: 360px) {
              animation: openProjectsMobileGlxS20 0.4s forwards;
              height: 80%;
            }
            @media screen and (width: 375px) {
              animation: openProjectsMobileGlxS20 0.4s forwards;
              height: 80%;
            }
          }
          &.closeContainer {
            animation: closingProjects 0.4s forwards;
          }
        }
      }
    }
  }
  // .lines {
  //   position: absolute;
  //   margin-top: 17%;
  //   margin-left: 28.25%;
  //   width: 350px;
  //   height: 50px;
  //   display: flex;
  //   z-index: 10000;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: end;
  //   @media screen and (max-width: 1600px) {
  //     display: none;
  //   }

  //   .lines__twoFirstLine {
  //     position: absolute;
  //     width: 350px;
  //     height: 30px;
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: end;
  //     .lines__twoFirstLine__firstVerticalLine {
  //       width: 1px;
  //       height: 0;
  //       opacity: 0;
  //       background-color: $light;
  //       transition: all 0.4s ease-in-out;
  //       &.showLines {
  //         opacity: 1;
  //         height: 30px;
  //       }
  //       &.closeLines {
  //         opacity: 0;
  //       }
  //     }
  //     .lines__twoFirstLine__horizontalLine {
  //       width: 0px;
  //       height: 1px;
  //       opacity: 0;
  //       background-color: $light;
  //       transition: all 0.4s ease-in-out 0.2s;
  //       &.showLine {
  //         opacity: 1;
  //         width: 350px;
  //       }
  //       &.closeLine {
  //         opacity: 0;
  //       }
  //     }
  //   }
  //   .lines__secVerticalLine {
  //     position: absolute;
  //     width: 1px;
  //     height: 20px;
  //     background-color: $light;
  //     left: 0;
  //     top: 40px;
  //     transition: all 0.4s ease-in-out 0.4s;
  //     &.showLine {
  //       opacity: 1;
  //       height: 20px;
  //     }
  //     &.closeLine {
  //       opacity: 0;
  //       transition-delay: 0s;
  //       transition-duration: 0s;
  //       height: 0;
  //     }
  //   }
  // }
  .more {
    position: absolute;
    flex-direction: column;
    margin-top: 30%;
    z-index: 2000;
    color: $light;
    width: 50%;
    border-left: 3px solid rgba($yellow, 0.5);
    padding-left: 5px;
    display: flex;
    right: 1%;
    transform: translateX(0);
    opacity: 0;
    transition: all 0.4s ease-in-out 0.4s;
    @media screen and (max-width: 767px) {
      box-sizing: border-box;
      border-left: none;
      padding-left: 5px;
      margin-top: 100%;
      width: 100%;
    }

    @media only screen and (min-width: 767px) and (max-width: 1080px) {
      width: 60%;
      margin-top: 10%;
    }
    @media only screen and (min-width: 999px) and (max-width: 1441px) {
      width: 60%;
      margin-top: 10%;
    }
    @media only screen and (max-width: 1920px) {
      width: 60%;
      margin-top: 0%;
    }
    &.showMore {
      animation: showMoreAnimation 0.5s ease-in-out forwards;
    }
    &.closeMore {
      animation: closeMoreAnimation 0.5s ease-in-out forwards;
    }
    .more__p {
      margin-top: 0;
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
      display: block;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}
