@import '../../styles/variables.scss';

.heading {
  color: $high-dark;
  font-family: 'Jost', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  padding: 0px;
  @media screen and (max-width: 767px) {
    color: $high-dark;
  }
  .headingH3 {
    font-weight: 700;
  }
}
