@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/animations.scss';

:export {
  transition: $transition;
}
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92vh;
  background-color: rgba($section-bcg, 0.3);
  &__container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
    &__title {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      bottom: 0;
      width: 100%;
      font-family: 'Jost', sans-serif;
      z-index: 1000;
      color: $headings;
      text-transform: uppercase;
      transition: transform 0.3s ease-out;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 200%; // Make sure it's wide enough to slide
        height: 100%;
        background-color: $headings;
        transform: translateX(-100%);
        transition: transform 0.3s ease-out;
        animation: slide-background 3.3s forwards; // 3 seconds delay + 0.3 seconds duration
        z-index: 1; // Ensure it’s behind the text
      }
      &__headerH2 {
        position: relative;
        font-weight: 700;
        font-size: 15rem;
        color: $headings;
        text-align: center;
        letter-spacing: -20px;
        padding: 0;
        margin: 0;
        @media screen and (max-width: 767px) {
          color: $headings;
          font-size: 10rem;
        }
      }
    }
    &__titleSection {
      position: absolute;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: end;
      justify-content: center;
      width: 100%;
      height: 100%;
      @media screen and (max-width: 767px) {
        align-items: end;
        justify-content: center;
      }
    }
  }
}

.navigationBtn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 90%;
  transition: all 0.3s ease-in-out;
  z-index: 10000;
  &:hover {
    top: 89%;
  }
  &__btn {
    border: none;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    background-color: rgba($headings, 0.3);
    font-size: 2rem;
    cursor: pointer;

    &__icon {
      margin-top: 25%;
    }
  }
}
