@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/animations.scss';
:export {
  transition: $transition;
}
.mobileNav {
  height: 5rem;
  background-color: rgba(#f7f1f8, 0.8);
  animation: fadeIn 1s ease-in-out;
  position: relative;
  z-index: 50000;
  .logoMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .logoLink {
    padding: 10px;
    @include Link;
    .logoSpan {
      display: block;
      letter-spacing: 3px;
      padding-left: 10px;
      color: #777;
    }
  }
  .menuIcon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-right: 10px;
    z-index: 1000;
    .iconBar {
      width: 30px;
      height: 2px;
      background-color: #39372d;
      margin: 4px;
      transition: all 0.4s ease-in;
    }
    &.open {
      .iconBar:nth-child(1) {
        transform: rotate(-45deg) translate(-7px, 7px);
      }
      .iconBar:nth-child(2) {
        opacity: 0;
      }
      .iconBar:nth-child(3) {
        transform: rotate(45deg) translate(-7px, -7px);
      }
    }
  }
  .navList {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    visibility: hidden;
    opacity: 0;
    transition: $transition;
    z-index: 100;
    width: 100%;
    &.open {
      visibility: visible;
      opacity: 1;
    }
    .menu {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      width: 40%;
      .menuLi {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: $transition;
        .menuItem {
          display: flex;
          text-align: end;
          justify-content: center;
          align-items: end;
          text-decoration: none;
          text-transform: uppercase;
          padding-right: 20px;
          color: $dark-green;
          letter-spacing: 2px;
          font-size: 1.5rem;
        }
      }
      .menuLi:nth-child(1) {
        transform: translateX(80px);
        opacity: 0;
        transition: all 0.6s ease-in-out;
        &.visible {
          opacity: 1;
          transform: translateX(-80px);
        }
      }
      .menuLi:nth-child(2) {
        transform: translateX(50px);
        transition: all 0.4s ease-in-out;
        opacity: 0;
        &.visible {
          opacity: 1;
          transform: translateX(-50px);
        }
      }
      .menuLi:nth-child(3) {
        transform: translateX(20px);
        transition: all 0.2s ease-in-out;
        opacity: 0;
        &.visible {
          opacity: 1;
          transform: translateX(-20px);
        }
      }
    }
  }
}
