@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/animations.scss';
:export {
  transition: $transition;
}
.mobileNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: rgba(#f7f1f8, 0.8);
  animation: fadeIn 1s ease-in-out;
  .logoMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .logoLink {
    padding: 10px;
    @include Link;
    .logoSpan {
      display: block;
      letter-spacing: 3px;
      padding-left: 10px;
      color: #777;
    }
  }
  .menuIcon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-right: 10px;
    .iconBar {
      width: 30px;
      height: 2px;
      background-color: #39372d;
      margin: 4px;
      transition: all 0.4s ease-in;
    }
    &.open {
      .iconBar:nth-child(1) {
        transform: rotate(-45deg) translate(-7px, 7px);
      }
      .iconBar:nth-child(2) {
        opacity: 0;
      }
      .iconBar:nth-child(3) {
        transform: rotate(45deg) translate(-7px, -7px);
      }
    }
  }
  .navList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in;
    backdrop-filter: blur(10px);
    z-index: 100;
    width: 100%;
    &.open {
      visibility: visible;
      opacity: 1;
    }
    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      width: 90%;

      .menuLi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        transition: $transition;
        &:hover {
          width: 25%;
        }
        .menuItem {
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          position: relative;
          text-decoration: none;
          text-transform: uppercase;
          margin: 5px 0;
          color: #39372d;
          letter-spacing: 2px;
          width: 100%;
        }
        .linkBorder {
          position: absolute;
          padding: 0;
          background-color: #39372d;
          text-align: center;
          bottom: -3px;
          width: 100%;
          height: 1px;
        }
      }
      .menuLi:nth-child(1) {
        .linkBorder {
          background-color: #f7f1f8;
        }
      }
      .menuLi:nth-child(2) {
        .menuItem {
          color: #f7f1f8;
        }
        .linkBorder {
          background-color: #f7f1f8;
        }
      }
      .menuLi:nth-child(3) {
        .menuItem {
          color: #f7f1f8;
        }
        .linkBorder {
          background-color: #f7f1f8;
        }
      }
    }
  }
}
