@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/animations.scss';
:export {
  transition: $transition;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  visibility: visible;
  background-color: transparent;
  background-color: rgba(#f7f1f8, 0.8);
  transition: $transition;
  animation: fadeIn 1s ease-in-out;
  height: 5rem;

  .logoLink {
    padding: 10px;
    @include Link;
    .logoSpan {
      display: block;
      letter-spacing: 3px;
      padding-left: 10px;
      color: #777;
    }
  }
  .navList {
    .menu {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      .menuItem {
        padding: 20px;
        letter-spacing: 3px;
        @include Link;
        color: #000f08;
      }
    }
  }
}
