@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/animations.scss';
:export {
  transition: $transition;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  visibility: visible;
  background-color: transparent;
  // background-color: $high-dark;
  background-color: rgba($section-bcg, 0.3);
  transition: $transition;
  animation: fadeIn 1s ease-in-out;
  height: 5rem;
  .logo {
    display: block;
    margin-left: 10px;
    @media screen and (max-width: 767px) {
      display: none;
    }
    .logoLink {
      padding: 10px;
      @include Link;
      width: 100%;
      padding-bottom: 0;
      .logoSpan {
        display: block;
        letter-spacing: 3px;
        font-weight: 400;
        color: $headings;
        // color: darken($main-color, 20%);
      }
    }
  }
  .navList {
    .menu {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      .menuItem {
        padding: 20px;
        letter-spacing: 3px;
        font-size: 1.5rem;
        @include Link;
        color: $headings;
        // color: darken($main-color, 20%);
        a:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
