@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/animations.scss';

.descContainer {
  display: flex;
  flex-direction: column;
  .descContainer__p {
    color: $light;
    padding-left: 10px;
  }
  .descContainer__href {
    color: $light;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-decoration: none;
    margin-top: -5px;
    margin-bottom: 5px;
    margin-left: 10px;
    border: 1px solid $light-green;
    border-radius: 4px;
    width: 30%;
    padding: 5px;
    text-align: center;
  }
}
